[submodule "apron-orig"]
	path = apron-orig
	url = https://github.com/aziem/apron-orig.git
[submodule "apron-aplas-2017"]
	path = apron-aplas-2017
	url = https://github.com/aziem/apron-aplas-2017.git
[submodule "apron-kent"]
	path = apron-kent
	url = https://github.com/aziem/apron-kent.git
[submodule "function"]
	path = function
	url = https://github.com/aziem/function.git
[submodule "codbm-frama-c-benchmarks"]
	path = codbm-frama-c-benchmarks
	url = https://github.com/aziem/codbm-frama-c-benchmarks.git
[submodule "frama-c-sulfur-kent"]
	path = frama-c-sulfur-kent
	url = https://github.com/aziem/frama-c-sulfur-kent.git
